<!-- Partial component to display published articles -->
<% publishedPosts.forEach(function(post) { %>
<article class="flex max-w-xl flex-col items-start justify-between">
  <!-- Display genre tag -->
  <div class="flex items-center gap-x-8 text-sm">
    <p
      class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600"
    >
      <%= post.post_tag %>
    </p>
    <div class="flex gap-x-8">
      <!-- Display number of views -->
      <div class="flex gap-2">
        <span class="badge"><%= post.post_views %></span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4"
          fill="currentColor"
          viewBox="0 0 24 24"
          stroke="none"
        >
          <path
            d="M23.821,11.181v0C22.943,9.261,19.5,3,12,3S1.057,9.261.179,11.181a1.969,1.969,0,0,0,0,1.64C1.057,14.739,4.5,21,12,21s10.943-6.261,11.821-8.181A1.968,1.968,0,0,0,23.821,11.181ZM12,19c-6.307,0-9.25-5.366-10-6.989C2.75,10.366,5.693,5,12,5c6.292,0,9.236,5.343,10,7C21.236,13.657,18.292,19,12,19Z"
          />
          <path
            d="M12,7a5,5,0,1,0,5,5A5.006,5.006,0,0,0,12,7Zm0,8a3,3,0,1,1,3-3A3,3,0,0,1,12,15Z"
          />
        </svg>
      </div>
      <!-- Display likes -->
      <div class="flex gap-2">
        <span class="badge"><%= post.post_likes %></span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4"
          fill="currentColor"
          viewBox="0 0 24 24"
          stroke="none"
        >
          <path
            d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z"
          />
        </svg>
      </div>
    </div>
  </div>

  <!-- Display article preview -->
  <div class="group relative h-full flex-col justify-between">
    <!-- Display title -->

    <h3
      class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
    >
      <a href="/blogs/<%= post.post_id %>">
        <span class="absolute inset-0"></span>
        <%= post.post_title %>
      </a>
    </h3>
    <!-- Display article body -->
    <p class="mt-5 text-sm leading-6 text-gray-600"><%= post.post_body %></p>
    <!-- Display creation, publish and modified date -->
    <div class="mt-5 text-xs leading-6 text-gray-600">
      Created:
      <time
        datetime="<%= post.post_creation_date %>"
        class="text-xs text-gray-500"
      >
        <%= new Date(post.post_creation_date).toLocaleDateString() %>
      </time>
      <% if (new Date(post.post_publish_date).toLocaleDateString() !==
      '1/1/1970') { %>
      <br />
      Published:
      <time
        datetime="<%= post.post_publish_date %>"
        class="text-xs text-gray-500"
      >
        <%= new Date(post.post_publish_date).toLocaleDateString() %>
      </time>
      <% } %> <% if (new Date(post.post_modified_date).toLocaleDateString() !==
      '1/1/1970') { %>
      <br />
      Last modified:
      <time
        datetime="<%= post.post_modified_date %>"
        class="text-xs text-gray-500"
      >
        <%= new Date(post.post_modified_date).toLocaleDateString() %>
      </time>
      <% } %>
    </div>
  </div>

  <!-- Display share and delete icons if user is author and logged in -->
  <% if (user && user.user_id === blogDetails.authorId) { %>

  <!-- Display share button -->
  <div class="mt-5 flex gap-6">
    <button
      onclick="shareArticle('http://localhost:3000/blogs/<%= post.post_id %>')"
      aria-label="Share post"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5"
        fill="currentColor"
        viewBox="0 0 24 24"
        stroke="none"
      >
        <path
          d="M19.333,14.667a4.66,4.66,0,0,0-3.839,2.024L8.985,13.752a4.574,4.574,0,0,0,.005-3.488l6.5-2.954a4.66,4.66,0,1,0-.827-2.643,4.633,4.633,0,0,0,.08.786L7.833,8.593a4.668,4.668,0,1,0-.015,6.827l6.928,3.128a4.736,4.736,0,0,0-.079.785,4.667,4.667,0,1,0,4.666-4.666ZM19.333,2a2.667,2.667,0,1,1-2.666,2.667A2.669,2.669,0,0,1,19.333,2ZM4.667,14.667A2.667,2.667,0,1,1,7.333,12,2.67,2.67,0,0,1,4.667,14.667ZM19.333,22A2.667,2.667,0,1,1,22,19.333,2.669,2.669,0,0,1,19.333,22Z"
        />
      </svg>
    </button>

    <!-- Display delete button -->
    <button
      onclick="confirmDelete('<%= post.post_id %>')"
      aria-label="Delete post"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5"
        fill="red"
        viewBox="0 0 24 24"
        stroke="none"
      >
        <path
          d="M22,4H17V2a2,2,0,0,0-2-2H9A2,2,0,0,0,7,2V4H2V6H4V21a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V6h2ZM9,2h6V4H9Zm9,19a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V6H18Z"
        />
        <rect x="9" y="10" width="2" height="8" />
        <rect x="13" y="10" width="2" height="8" />
      </svg>
    </button>
  </div>
  <% } else { %>
  <div class="mb-5"></div>
  <% } %>
</article>
<% }); %>

<script>
  // Function to delete a post
  function confirmDelete(postId) {
    if (confirm("Are you sure you want to delete this post?")) {
      console.log(postId);
      fetch(`/blogs/${postId}`, {
        // Send a DELETE request to the server
        method: "DELETE",
      })
        .then(() => window.location.reload()) // Reload the page after the post is deleted
        .catch((error) => console.error("Error:", error)); // Log any errors to the console
    }
  }

  // Function to copy the reader article URL to the clipboard
  function shareArticle(articleUrl) {
    navigator.clipboard
      .writeText(articleUrl) // Copy the article URL to the clipboard
      .then(() => alert("Article URL copied to clipboard")) // Display an alert if the URL is copied successfully
      .catch((err) => console.error("Error:", err)); // Log any errors to the console
  }
</script>
