<!-- Partial component to display article drafts -->
<% draftPosts.forEach(function(post) { %>
<article class="flex max-w-xl flex-col items-start justify-between">
  <!-- Display genre tag -->
  <div class="flex items-center gap-x-8 text-sm">
    <p class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600">
      <%= post.post_tag %>
    </p>
  </div>

  <!-- Display Article -->
  <div class="group relative">
    <!-- Display title -->
    <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
      <span class="absolute inset-0"></span>
      <%= post.post_title %>
    </h3>
    <!-- Display article body -->
    <p class="mt-5 text-sm leading-6 text-gray-600"><%= post.post_body %></p>

    <!-- Display creation and modified date -->
    <div class="mt-5 text-xs leading-6 text-gray-600">
      Created:
      <time datetime="<%= post.post_creation_date %>" class="text-xs text-gray-500">
        <%= new Date(post.post_creation_date).toLocaleDateString() %>
      </time>
      <br />
      <% if (new Date(post.post_modified_date).toLocaleDateString() !==
      '1/1/1970') { %> Last modified:
      <time datetime="<%= post.post_modified_date %>" class="text-xs text-gray-500">
        <%= new Date(post.post_modified_date).toLocaleDateString() %>
      </time>
      <% } %>
    </div>
  </div>

  <!-- Display actions-->
  <div class="mt-5 flex gap-6">
    <!-- Display edit button -->
    <form action="/blogs/edit/<%= post.post_id %>" method="GET">
      <input type="hidden" name="post_id" value="<%= post.post_id %>" />
      <button type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="currentColor" viewBox="0 0 24 24" stroke="none">
          <path d="M18.656.93,6.464,13.122A4.966,4.966,0,0,0,5,16.657V18a1,1,0,0,0,1,1H7.343a4.966,4.966,0,0,0,3.535-1.464L23.07,5.344a3.125,3.125,0,0,0,0-4.414A3.194,3.194,0,0,0,18.656.93Zm3,3L9.464,16.122A3.02,3.02,0,0,1,7.343,17H7v-.343a3.02,3.02,0,0,1,.878-2.121L20.07,2.344a1.148,1.148,0,0,1,1.586,0A1.123,1.123,0,0,1,21.656,3.93Z" />
          <path d="M23,8.979a1,1,0,0,0-1,1V15H18a3,3,0,0,0-3,3v4H5a3,3,0,0,1-3-3V5A3,3,0,0,1,5,2h9.042a1,1,0,0,0,0-2H5A5.006,5.006,0,0,0,0,5V19a5.006,5.006,0,0,0,5,5H16.343a4.968,4.968,0,0,0,3.536-1.464l2.656-2.658A4.968,4.968,0,0,0,24,16.343V9.979A1,1,0,0,0,23,8.979ZM18.465,21.122a2.975,2.975,0,0,1-1.465.8V18a1,1,0,0,1,1-1h3.925a3.016,3.016,0,0,1-.8,1.464Z" />
        </svg>
      </button>
    </form>

    <!-- Display delete button -->
    <form>
      <button onclick="confirmDelete('<%= post.post_id %>')" aria-label="Delete post">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="red" viewBox="0 0 24 24" stroke="none">
          <path d="M22,4H17V2a2,2,0,0,0-2-2H9A2,2,0,0,0,7,2V4H2V6H4V21a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V6h2ZM9,2h6V4H9Zm9,19a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V6H18Z" />
          <rect x="9" y="10" width="2" height="8" />
          <rect x="13" y="10" width="2" height="8" />
        </svg>
      </button>
    </form>

    <!-- Display publish button -->
    <form action="/blogs/publish" method="POST">
      <input type="hidden" name="post_id" value="<%= post.post_id %>" />
      <button type="submit" class="btn btn-primary btn-xs">Publish</button>
    </form>
  </div>
</article>
<% }); %>

<script>
  // Function to confirm deletion of a draft
  function confirmDelete(postId) {
    if (confirm("Are you sure you want to delete this draft?")) {
      console.log(postId); // Log the post ID to the console
      fetch(`/blogs/${postId}`, {
          // Send a DELETE request to the server
          method: "DELETE",
        })
        .then(() => window.location.reload()) // Reload the page after the draft is deleted
        .catch((error) => console.error("Error:", error)); // Log any errors to the console
    }
  }
</script>