<!-- Article view page
1. Display the article's title, author, publish date, tag, and body.
2. Display the comments for the article.
3. If there are no comments, display a message. 
-->
<!DOCTYPE html>
<html data-theme="cupcake" lang="en">
  <%- include("./partials/header.ejs") %>
  <!-- Include the header partial component -->

  <body>
    <%- include("./partials/nav.ejs") %>
    <!-- Include the nav partial component -->

    <!-- Display article section -->
    <div class="bg-white py-24 sm:py-32">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <article
          class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 pt-4 sm:mt-4 sm:pt-4 lg:mx-0 lg:max-w-none"
        >
          <!-- Display publish data -->
          <div class="flex items-center gap-x-4 text-xs">
            <time
              datetime="<%= post.post_publish_date %>"
              class="text-gray-500"
            >
              <%= new Date(post.post_publish_date).toLocaleDateString() %>
            </time>
            <!-- Display genre tag -->
            <p
              class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600"
            >
              <%= post.post_tag %>
            </p>
            <div class="flex gap-x-8">
              <!-- Display number of views -->
              <div class="flex gap-2">
                <span class="badge"><%= post.post_views %></span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-4 w-4"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                  stroke="none"
                >
                  <path
                    d="M23.821,11.181v0C22.943,9.261,19.5,3,12,3S1.057,9.261.179,11.181a1.969,1.969,0,0,0,0,1.64C1.057,14.739,4.5,21,12,21s10.943-6.261,11.821-8.181A1.968,1.968,0,0,0,23.821,11.181ZM12,19c-6.307,0-9.25-5.366-10-6.989C2.75,10.366,5.693,5,12,5c6.292,0,9.236,5.343,10,7C21.236,13.657,18.292,19,12,19Z"
                  />
                  <path
                    d="M12,7a5,5,0,1,0,5,5A5.006,5.006,0,0,0,12,7Zm0,8a3,3,0,1,1,3-3A3,3,0,0,1,12,15Z"
                  />
                </svg>
              </div>
              <!-- Display likes -->
              <div class="flex gap-2">
                <span class="badge"><%= post.post_likes %></span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-4 w-4"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                  stroke="none"
                >
                  <path
                    d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z"
                  />
                </svg>
              </div>
            </div>
          </div>

          <!-- Display article -->
          <div class="group relative">
            <h2
              class="mt-3 text-2xl font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
            >
              <a href="/blogs/<%= post.post_id %>">
                <span class="absolute inset-0"></span>
                <%= post.post_title %>
              </a>
            </h2>
            <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
              <%= post.post_body %>
            </p>
          </div>
        </article>

        <!-- Buttons: Like (only if logged), Back (for guests and users except author)-->
        <div class="mt-10 flex gap-4">
          <% console.log(user, blogDetails.authorId); %> <% if (user &&
          user.user_id !== blogDetails.authorId) { %>
          <form action="/blogs/like" method="POST">
            <input type="hidden" name="post_id" value="<%= post.post_id %>" />
            <button type="submit" class="btn btn-secondary">
              Like & Go Back to Reader Home
            </button>
          </form>
          <% } %>
          <a
            class="btn btn-default"
            href="#"
            onclick="window.location.href = document.referrer; return false;"
          >
            Back
          </a>
        </div>

        <!-- Display comments Section -->
        <section class="mt-10">
          <h3
            class="mt-3 mb-4 font-semibold leading-6 text-gray-600 group-hover:text-gray-600"
          >
            Comments
          </h3>
          <% if (comments.length > 0) { %>
          <div class="mt-4">
            <% comments.forEach(function(comment) { %>
            <div class="mt-8">
              <div class="flex gap-4">
                <p class="text-gray-900 text-sm"><%= comment.alias %></p>
                <time
                  datetime="<%= post.post_creation_date %>"
                  class="text-xs text-gray-500"
                >
                  <%= new Date(post.post_creation_date).toLocaleDateString() %>
                </time>
              </div>
              <p class="mt-4 line-clamp-3 text-sm leading-6 text-gray-600">
                <%= comment.comment %>
              </p>
            </div>
            <% }); %>
          </div>
          <% } else { %>
          <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
            No comments yet.
          </p>
          <% } %> <% if (user) { %>
          <!-- Comment Form -->
          <form
            id="commentForm"
            action="/blogs/comment/<%= post.post_id %>"
            method="POST"
          >
            <div class="flex w-full flex-col items-center py-24 sm:py-32">
              <div class="card rounded-box bg-neutral-100 p-12 w-1/2">
                <label
                  class="mt-6 input input-bordered flex items-center gap-2"
                >
                  Alias
                  <input
                    type="text"
                    class="grow"
                    name="alias"
                    id="alias"
                    value="<%= user.username %>"
                    placeholder="alias"
                    required
                  />
                </label>
                <span class="text-gray-600 text-sm label-text-alt ml-4"
                  >You can modify this</span
                >

                <textarea
                  class="mt-6 w-full h-16 textarea textarea-bordered"
                  name="comment"
                  id="comment"
                  required
                  placeholder="write your comment ...."
                ></textarea>
                <div class="mt-10 flex gap-4">
                  <button type="submit" class="btn btn-primary">Comment</button>
                  <button
                    type="button"
                    class="btn btn-neutral"
                    onclick="document.getElementById('commentForm').reset();"
                  >
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </form>

          <% } %>
        </section>
      </div>
    </div>

    <%- include("./partials/footer.ejs") %>
    <!-- Include the footer partial component -->
  </body>
</html>
