<!-- Article edit page -->
<!DOCTYPE html>
<html data-theme="cupcake" lang="en">
<%- include("./partials/header.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>
  <form action="/authorSettings" method="POST">
    <div class="flex w-full flex-col items-center py-24 sm:py-32">
      <div class="card rounded-box bg-neutral-100 p-12 w-1/2">
        <h2 class="mb-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
          Settings
        </h2>

        <!-- Input article title -->
        <label class="mt-6 input input-bordered flex items-center gap-2 text-gray-500 text-sm">
          Blog Site Title
          <input type="text" class="grow text-gray-900 text-lg" name="blog_title" id="blog_title" value="<%= settings.blog_title %>" required />
        </label>

        <!-- Input article content -->

        <!-- Input article genre tag -->
        <label class="mt-6 input input-bordered flex items-center gap-2 text-gray-500 text-sm">
          Author Name
          <input type="text" class="grow text-gray-900 text-lg" name="username" id="username" value="<%= settings.author_username %>" />
        </label>

        <!-- Submit button -->
        <div class="mt-10 flex gap-4">
          <button type="submit" class="btn btn-accent">Save</button>
          <button type="button" class="btn btn-neutral" onclick="window.history.back();">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </form>
  <%- include("./partials/footer.ejs") %>
</body>

</html>